.DS_store
*.swp
*.rbc
*.sassc
*.dump
*.rdb
.sass-cache
capybara-*.html
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
/public/uploads/*
/node_modules
npm-debug.log
rerun.txt
pickle-email-*.html
.env*
*~
examples.txt
.rspec
screenshot_*.html
Procfile.local

# Download from https://github.com/zakird/wkhtmltopdf_binary_gem/
# Only the binary for production is committed.
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity
yarn-error.log
.huskyrc
bin/pre-commit-rules
